### Sequential type

In [4]:
msg = 'songjunho'
msg[::]
msg[0::2]
msg[:-1:]
msg[::-1]

'ohnujgnos'

In [6]:
country = 'korea'
country[0] = 'c'

TypeError: 'str' object does not support item assignment

In [8]:
a = 10
# a = 10 형태의 문자열 만들기

s = "a = " + str(a)
t = 'a = %d'%(a)
print(s + '\n' + t)

a = 10
a = 10

In [11]:
s = f"a = {a:d}"
s

'a = 10'

In [27]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [38]:
country = 'united states'
country.find("e")

4

In [55]:
# 위 문자열의 GCCG 의 위치를 전부 출력
# 한 번 포함되면 포함된 문자는 빼고 찾아야 함

problem = 'GFDEDCSWEGCCGSDWGCCGEWRDGGCCGCCGEREQEGCCGAA'
str = 'GCCG'
tmp = 0
li = []
while True :     
    idx = problem.find('GCCG')
    if idx < 0:
        break
    problem = problem[idx+4:]
    li.append(tmp + idx)
    tmp = tmp + idx + 4
    

li

[9, 16, 25, 37]

문자열 인코딩

In [6]:
import sys
# 현재 시스템의 인코딩 확인
print(sys.stdin.encoding)
print(sys.stdout.encoding)

# 문자열을 바이트 코드로 변환
print('한글'.encode())
print('한글'.encode().decode())
print(ord('a'), ord('한'))

utf-8
UTF-8
b'\xed\x95\x9c\xea\xb8\x80'
한글
97 54620

정규표현식

In [32]:
import re
# : 이나 | 를 , 로 치환
teststr = "apple:samgsung google|kakao"
result = re.sub("[:,|,' ']", "," , teststr)
result

'apple,samgsung,google,kakao'

In [39]:
# email 이 유효한 이메일 인지 검사
p = re.compile('^[a-zA-Z0-9+-\_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$')
emails = ["1999junho@naver.com", '1999junho@gmail.com', "@songjunho@kakao.com", 'junhosong@daum.com']

for email in emails:
    print(p.match(email) != None)

True
True
True
True

list

In [3]:
li1 = ['songjunho','songjungeol','김정은','김정현']
li2 = list(range(10))

# 데이터 추가
li1.append('루시안')

# 데이터 1개 출력
print(li1[0])

# slicing
print(li1[0:2])

# 데이터 삭제
del li1[3]

print(li1)

# 데이터 순회
for project in li1:
    print(project)

songjunho
['songjunho', 'songjungeol']
['songjunho', 'songjungeol', '김정은', '루시안']
songjunho
songjungeol
김정은
루시안

In [12]:
li1 = ['soccer','baseball','stack','queue']
li1.sort()
print(li1)
li1.sort(reverse=True)
print(li1)

result = sorted(li1) # sorted 는 정렬한 결과를 리턴

# 영문 대소문자 구분없이 정렬
li1.sort(key = str.lower)
print(li1)

['baseball', 'queue', 'soccer', 'stack']
['stack', 'soccer', 'queue', 'baseball']
['baseball', 'queue', 'soccer', 'stack']

tuple

In [20]:
record = ('junho','student', 'lol')
print(record)
print(record[0]) # 인덱싱 가능
# record[1] = 'teacher' # 수정 불가

# list, tuple은 unpacking 가능
name, job , hobby = record
print(name)

*etc, job = record # *을 이용하면 나머지 모두를 list로 생성
print(etc)

# swap
a = 10
b = 20
a, b = b, a
print(a,b)

('junho', 'student', 'lol')
junho
junho
['junho', 'student']
20 10

In [39]:
# 테이블 구조의 데이터를 생성
data = [('junho','7557'), ('jungeol','7667')]

# 이름만 출력
for row in data:
    print(row[0])

# 컬럼에 이름을 사용하는 튜플
from collections import namedtuple
# 자료구조 생성 - 튜플의 각 열 이름 만들기
Person = namedtuple('Person', 'phonenum')
persons = [Person('junho', '7557'), Person('jungeol','7667')]
persons
# for person in persons:
#     print(person.phonenum)

junho
jungeol

TypeError: Person.__new__() takes 2 positional arguments but 3 were given

set

In [32]:
# 출력 순서는 순서대로가 아닐 수 있음
s = {'adam','genesis','exodus','genesis'}
print(s)

{'exodus', 'adam', 'genesis'}

In [34]:
s.add('numbers')
for d in s:
    print(d)

numbers
exodus
adam
genesis

dict

In [52]:
dic = {}
dic['name'] = 'junho'
dic['job'] = 'student'
dic['age'] = 25
dic['name'] = 'songjunho'

print(dic)
print(dic['name'])
print(dic.get('name', 'noname'))
# print(dic['school']) # 존재하지 않는 key 사용하면 key error
print(dic.get('school', 'noschool')) # 존재하지 않는 key 사용하면 두 번째 매개변수 리턴
for key in dic:
    print(key, dic[key])

for key, value in dic.items():
    print(key, value)

{'name': 'songjunho', 'job': 'student', 'age': 25}
songjunho
songjunho
noschool
name songjunho
job student
age 25
name songjunho
job student
age 25

In [58]:
# dict를 이용한 MVC
# DTO 역할을 수행하는 클래스 생성 - 최근에는 더 권장

class DTO:
    def __init__(self, name = 'noname', tel = 'notel'):
        self.name = name
        self.tel = tel

# 데이터 목록 생성
data = [DTO('junho','010'), DTO('jungeol','011')]

# 이름과 전화번소 생성
for datum in data:
    print(datum.name, datum.tel)


data = [{'name':'junho','tel':'010'},{'name':'jungeol','tel':'011'}]
# 이름과 전화번소 생성
for datum in data:
    for key in datum:
        print(key, datum[key])

junho 010
jungeol 011
name junho
tel 010
name jungeol
tel 011

In [65]:
# 이차원 배열 대신에 dict 사용
kia = ['윤영철','최형우']
lg = ['켈리','플럿코']
kbo = [kia, lg] # list의 list
# list는 index를 이용해 접근하고 dict 는 key를 사용해 접근
# enumerate 는 index와 data를 튜플로 리턴
# 이 경우 새로운 팀이 추가됐을 때 반복문 코드를 수정해야함
for idx, baseball in enumerate(kbo):
    if idx == 0:
        print('kia', end = '\t')
    else:
        print('lg', end = '\t')

    for player in baseball:
        print(player, end = '\t')
    print()

# dict 로 만들게 되면 그 문제 해결가능
kia = ['윤영철','최형우']
lg = ['켈리','플럿코']
hanhwa = ['노시환']

kbo = [{'team' : "기아", "data" : kia}, {'team' : "엘지", "data" : lg},{'team' : "한화", "data" : hanhwa}]

for dic in kbo:
    print(dic['team'], end = ': ')
    for player in dic['data']:
        print(player, end = '\t')
    print()

kia	윤영철	최형우
lg	켈리	플럿코

list comprehension

In [25]:
li = list(range(10)) # 0 ~ 9 까지의 숫자로 list 생성
# li 모든 데이터를 제곱한 list 생성

# 반복문 이용
result = []
for i in li:
    result.append(i*i)
print(result)

# map 함수 이용
li_2 = list(map(lambda x : x ** 2, li))
print(li_2)

# list comprehension 이용
# [연산식 순회할문장]
result = [i*i for i in li]
print(result)

# for 2개 사용
li1 = [1, 2, 3]
li2 = [4, 5, 6, 7]
result = [x * y for x in li1 for y in li2]
print(result)

# for와 if 사용 가능 - filtering
singers = ['태연','수지','아이유','새벽공방']

# 글자 수가 3 이상인 데이터 추출
result = list(filter(lambda x : len(x) >= 3, singers))
print(result)
result = [x for x in singers if len(x) >= 3]
print(result)
result = [x for x in singers if len(x) >= 3 and len(x) < 4]
print(result)
result = [x for x in singers if len(x) >= 3 if len(x) < 4]
print(result)

# if ~ else for 활용
# 3글자 이상은 그대로 나머지는 _ 추가
result = [x if len(x) >= 3 else x + '_' for x in singers]
print(result)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[4, 5, 6, 7, 8, 10, 12, 14, 12, 15, 18, 21]
['아이유', '새벽공방']
['아이유', '새벽공방']
['아이유']
['아이유']
['태연_', '수지_', '아이유', '새벽공방']

## 코테에 필요한 모듈

counter

In [35]:
from collections import Counter
data = ['한식','중식','분식','한식','일식','일식','양식']
counter = Counter(data)

#dict로 변환해서 전체 데이터의 개수 파악
print(dict(counter))

# 한가지 데이터 파악
print(counter['한식'])

# 상위 2개만 추출
print(counter.most_common(2))

{'한식': 2, '중식': 1, '분식': 1, '일식': 2, '양식': 1}
2
[('한식', 2), ('일식', 2)]

In [37]:
# 튜플 목록
data = [('apple',3),('apple', 2), ("orange",3), ('mango', 3), ('orange', 5)]
counter = Counter()

# 데이터의 합계를 구해보기
for name, count in data:
    counter[name] += count
print(counter)

# 데이터가 등장한 횟수
for name, count in data:
    counter[name] += 1
print(counter)

Counter({'orange': 8, 'apple': 5, 'mango': 3})
Counter({'orange': 10, 'apple': 7, 'mango': 4})

예외처리

In [40]:
def div(x):
    return 10 / x 

print(div(20))
print(div(0))
print('프로그램 종료')

0.5

ZeroDivisionError: division by zero

In [41]:
# 예외가 발생해도 프로그램이 종료되지 않음
def div(x):
    return 10 / x 
try:
    print(div(20))
    print(div(0))
except:
    # 예외가 발생했을 때 수행되는 구문
    print('예외 발생')
print('프로그램 종료')

0.5
예외 발생
프로그램 종료