## python과 MySQL 연동

In [1]:
pip install pyMySQL

Collecting pyMySQL
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ---------------------------------------- 44.8/44.8 kB 2.2 MB/s eta 0:00:00
Installing collected packages: pyMySQL
Successfully installed pyMySQL-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [15]:
import sys
import pymysql

In [12]:
try :
    con = pymysql.connect(host='localhost',port = 3306, db = 'junoflow',
                        user = 'junoflow', passwd = 'math',charset = 'utf8')
    print(con)
except:
    print('예외발생', sys.exc_info())
finally:
    if con != None:
        con.close()

<pymysql.connections.Connection object at 0x000001CA595B2D40>

데이터 입력

In [27]:
try :
    # 데이터베이스 연결 객체 생성
    con = pymysql.connect(host='localhost',port = 3306, db = 'junoflow',
                            user = 'junoflow', passwd = 'math',charset = 'utf8')
    # SQL 실행 객체 생성
    cursor = con.cursor()
    # SQL 실행 - 값을 직접 SQL에 작성
    cursor.execute("INSERT INTO DEPT VALUES(11,'비서','신안')")
    # SQL 실행 - SQL에 서식을 설정하고 파라미터를 대입하는 코드 작성
    cursor.execute('INSERT INTO DEPT VALUES(%s, %s, %s)', (12, '기획','제주'))
    
    
    # 원본에 반영
    con.commit()
except:
    print('예외발생', sys.exc_info())
finally:
    if con != None:
        con.close()

데이터 수정

In [28]:
try :
    # 데이터베이스 연결 객체 생성
    con = pymysql.connect(host='localhost',port = 3306, db = 'junoflow',
                            user = 'junoflow', passwd = 'math',charset = 'utf8')
    # SQL 실행 객체 생성
    cursor = con.cursor()

    # SQL 실행 - SQL에 서식을 설정하고 파라미터를 대입하는 코드 작성
    # 12번 데이터의 부서를 영업 그리고 위치를 서초로 수정
    cursor.execute("UPDATE DEPT SET DNAME = %s, LOC = %s WHERE DEPTNO = %s", ('영업', '서초','12'))
    
    
    # 원본에 반영
    con.commit()
except:
    print('예외발생', sys.exc_info())
finally:
    if con != None:
        con.close()

데이터 삭제

In [29]:
try :
    # 데이터베이스 연결 객체 생성
    con = pymysql.connect(host='localhost',port = 3306, db = 'junoflow',
                            user = 'junoflow', passwd = 'math',charset = 'utf8')
    # SQL 실행 객체 생성
    cursor = con.cursor()

    # SQL 실행 - SQL에 서식을 설정하고 파라미터를 대입하는 코드 작성
    # DEPTNO = 12 인 데이터 삭제
    cursor.execute("DELETE FROM DEPT WHERE DEPTNO = %s", 12)
    
    # 원본에 반영
    con.commit()
except:
    print('예외발생', sys.exc_info())
finally:
    if con != None:
        con.close()

데이터 1개 조회

In [32]:
try :
    # 데이터베이스 연결 객체 생성
    con = pymysql.connect(host='localhost',port = 3306, db = 'junoflow',
                            user = 'junoflow', passwd = 'math',charset = 'utf8')
    # SQL 실행 객체 생성
    cursor = con.cursor()

    # SQL 실행 - SQL에 서식을 설정하고 파라미터를 대입하는 코드 작성
    # 12번 데이터 조회
    cursor.execute("select * FROM DEPT WHERE DEPTNO = %s", (10))
    
    # 검색 결과 중 하나의 데이터를 읽어오는 것
    # 검색된 결과가 없으면 None, 존재하면 Tuple
    record = cursor.fetchone()
    print(record)

    if record == None:
        print('검색된 데이터가 없음')
    else:
        for attr in record:
            print(attr)

except:
    print('예외발생', sys.exc_info())
finally:
    if con != None:
        con.close()

10
ACCOUNTING
NEW YORK
(10, 'ACCOUNTING', 'NEW YORK')

데이터 여러 개 조회

In [35]:
try :
    # 데이터베이스 연결 객체 생성
    con = pymysql.connect(host='localhost',port = 3306, db = 'junoflow',
                            user = 'junoflow', passwd = 'math',charset = 'utf8')
    # SQL 실행 객체 생성
    cursor = con.cursor()

    # SQL 실행 - SQL에 서식을 설정하고 파라미터를 대입하는 코드 작성
    # 10번 데이터 조회
    cursor.execute("select * FROM DEPT WHERE DEPTNO > %s", (10))
    
    # 검색 결과 전체 데이터를 읽어오는 것
    # 여러 개의 데이터를 가져오는 경우는 데이터가 없는 경우
    # 빈 튜플을 리턴

    record = cursor.fetchall()
    print(record)
    # 여러 개를 리턴하는 함수를 호출해서 데이터가 없다는 사실을 확인하는 방법은
    # 데이터의 개수가 0인지 확인해야 함

    if len(record) == 0:
        print('검색된 데이터가 없음')
    else:
        for attr in record:
            print(attr)

except:
    print('예외발생', sys.exc_info())
finally:
    if con != None:
        con.close()

((11, '비서', '신안'), (20, 'RESEARCH', 'DALLAS'), (30, 'SALES', 'CHICAGO'), (40, 'OPERATIONS', 'BOSTON'), (60, '회계', '서울'))
(11, '비서', '신안')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')
(60, '회계', '서울')

데이터베이스에 파일을 저장할 수 있는  테이블을 생성

In [38]:
try :
    # 데이터베이스 연결 객체 생성
    con = pymysql.connect(host='localhost',port = 3306, db = 'junoflow',
                            user = 'junoflow', passwd = 'math',charset = 'utf8')
    # SQL 실행 객체 생성
    cursor = con.cursor()

    # 삽입할 이미지 파일의 내용 읽기
    # 자신의 파일 경로로 수정
    f = open('./다운로드.jpg', 'rb')
    img = f.read()
    f.close()

    # 데이터 삽입
    cursor.execute('INSERT INTO BLOBTABLE VALUES(%s, %s)', ('다운로드.jpg', img))

    con.commit()
except:
    print('예외발생', sys.exc_info())
finally:
    if con != None:
        con.close()

데이터 읽어오기

In [41]:
try :
    # 데이터베이스 연결 객체 생성
    con = pymysql.connect(host='localhost',port = 3306, db = 'junoflow',
                            user = 'junoflow', passwd = 'math',charset = 'utf8')
    # SQL 실행 객체 생성
    cursor = con.cursor()

    # 데이터 읽어오기
    cursor.execute("SELECT * FROM BLOBTABLE")
    data = cursor.fetchone()
    # 두 번째 데이터가 blob 이므로 두 번째 데이터를 파일로 변경
    print(data[0])
    # 파일을 쓰기 모드로 생성
    f = open(data[0] , 'wb')
    # 읽은 데이터를 파일에 기록
    f.write(data[1])
    f.close()

except:
    print('예외발생', sys.exc_info())
finally:
    if con != None:
        con.close()

다운로드.jpg